@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Onest-Black';
        src: url('/fonts/Onest-Black.woff2') format('woff2');
        font-weight: 900;
        font-style: normal;
    }

    @font-face {
        font-family: 'Onest-Regular';
        src: url('/fonts/Onest-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Albert Sans';
        src: url('/fonts/AlbertSans-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Londrina Solid';
        src: url('/fonts/LondrinaSolid-Black.woff') format('woff');
        font-weight: 900;
        font-style: normal;
    }

    .custom-padding {
        @apply p-xs md:p-lg;
      }
      
}
