---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import Hero from "../components/Hero.astro";
import Header from "../components/Header.astro";
---
<MainLayout title="Højskolendk Case">
    <Hero></Hero>
    <article class="max-w-screen-xl mx-auto relative bg-beige">
        <!-- Hero tekst -->
        <section class="flex flex-col items-center justify-center text-center p-4 absolute top-1/2 w-full z-2 md:mt-20">
            <h1 class="text-4xl uppercase text-black md:text-5xl md:mb-16" style="font-family: 'Onest-Black', sans-serif;">
                OPLEVELSER FOR LIVET
            </h1>
            <p class="text-base text-black md:text-base" style="font-family: 'Albert Sans', sans-serif;">
                Drømmer du om eventyr, fællesskab og oplevelser, der forandrer dit liv? <br><br>
                Tag med os på højskole i udlandet, hvor tropiske strande, vilde kulturer og personlig udvikling venter <br>
				– dit næste store kapitel starter her!
            </p>
        </section>
    </article>
</MainLayout>

