---
import Button from "./Button.astro"
---

<section>
    <!-- tekst -->
<div class="text-center ">
    <h3 class="pb-6 text-sm md:text-lg" style="font-family: 'Onest-Regular', sans-serif;">VI BLIVER VURDERET FREMRAGENDE PÅ TRUSTPILOT!</h3>
    <h2 class="text-3xl md:text-4xl" style="font-weight: 900; font-family:'Onest-Black', sans-serif;" >ANMELDELSER FRA ELEVER</h2>
</div>


<div class="relative pt-16 pb-20 ml-24 mr-24 mx-10 md:mx-44 md:pt-24 md:pb-32">
    <!-- Karrusel Container -->
<div class="flex items-center overflow-x-auto whitespace-nowrap scroll-smooth gap-7">
      
      <!-- Knap til scrolling (venstre) -->
 <button id="scroll-left" class="text-4xl z-10 absolute -left-12 top-64 md:absolute md:top-72 md:-left-16 transform -translate-y-1/2" style="color:#7794B0">
        ←
</button>

  <!-- anmeldelse 1 -->
<div class="flex flex-col col-span-3 justify-between px-5 py-5 rounded-3xl w-96 h-96" style="background-color: #E5EBF0;">
    <h4 class="pt-4 text-base md:text-base" style="font-weight: 900; font-family: 'Onest-Black' sans-serif;">BEDSTE BESLUTNING NOGENSINDE</h4>
    <p class="relative top-2 text-base md:text-base" style="font-family: 'Albert,Sans' sans-serif;">Hvis man gerne vil ud og rejse,<br> men også vil møde nogle nye mennesker. <br> Så vil jeg helt klart anbefale Höjskolendk. <br> Jeg havde den fedeste tur fra Januar <br> til april måned i 2024 på turen <br> som hedder, Hawaii, Australien, <br> Japan, Bali og Gilli Island. </p>
    <div class="pb-4 text-base md:text-base italic" style="font-family: 'Albert,Sans' sans-serif;">
        <p>William D. Birch</p>
    </div>
</div>

  <!-- anmeldelse 2 -->
  <div class="flex flex-col justify-between px-5 py-5 rounded-3xl w-96 h-96" style="background-color: #E5EBF0;">
    <h4 class="pt-4 text-base md:text-base" style="font-weight: 900; font-family: 'Onest-Black' sans-serif;">EN REJSE FOR LIVET</h4>
    <p class="text-base md:text-base" style="font-family: 'Albert,Sans' sans-serif;">At have rejst verden rundt med höjskolendk, <br> har uden tvivl været en af de bedste beslutninger <br> nogensinde! At rejse rundt med så mange <br> unge mennesker, og nogle fantastiske <br> rejseledere gør, at man ser verden og de <br> forskellige kulturer på en helt anden måde.</p>
    <div class="pb-4 text-base md:text-base italic" style="font-family: 'Albert,Sans' sans-serif;" >
        <p>Dicte Jørgensen</p>
    </div>
</div>

  <!-- anmeldelse 3 -->
  <div class="flex flex-col justify-between px-5 py-5 rounded-3xl w-96 h-96" style="background-color: #E5EBF0;">
    <h4 class="pt-4 text-base md:text-base" style="font-weight: 900; font-family: 'Onest-Black' sans-serif;" >FANTASTISK OPLEVELSE</h4>
    <p class="text-base md:text-base" style="font-family: 'Albert,Sans' sans-serif;" >Jeg kom hjem fra en helt fantastisk tur med <br> Höjskolendk, som jeg er utrolig taknemlige for. <br> 3 måneder i udlandet er en helt speciel oplevelse, <br> som ikke alle kan få. Höjskolendk sørgede for at <br> der var tryghed hele vejen, og jeg kan klart <br> anbefale at tage en tur med højskolen.</p>
    <div class="pb-4 text-base md:text-base italic" style="font-family: 'Albert,Sans' sans-serif;">
        <p>Sofie Andreasen</p>
    </div>
</div>

  <!-- anmeldelse 4 -->
  <div class="flex flex-col justify-between px-5 py-5 rounded-3xl w-96 h-96" style="background-color: #E5EBF0;">
    <h4 class="pt-4 text-base md:text-base" style="font-weight: 900; font-family: 'Onest-Black' sans-serif;" >TAK TIL HAJBG</h4>
    <p class="text-base md:text-base" style="font-family: 'Albert,Sans' sans-serif;">At rejse med höjskolen var og er, uden tvivl <br> mit livs bedste beslutning. Alle de fantastiske <br> oplevelser, mennesker og stunder, <br> vil jeg have med med for altid. Vores rejseguides <br> var skabt af et helt specielt stof. <br> De var prikken over i’et for mig.</p>
    <div class="pb-4 text-base md:text-base italic" style="font-family: 'Albert,Sans' sans-serif;">
        <p>Ditte-Marie Lyck</p>
    </div>
</div>


  <!-- anmeldelse 5 -->
  <div class="flex flex-col justify-between px-5 py-5 rounded-3xl w-96 h-96" style="background-color: #E5EBF0;">
    <h4 class="pt-4 text-base md:text-base" style="font-weight: 900; font-family: 'Onest-Black' sans-serif;"  >NYE VENNER OG OPLEVELSER</h4>
    <p class="text-base md:text-base" style="font-family: 'Albert,Sans' sans-serif;" >Har været på 3 måneders ophold rundt i verden. <br> Det har været en god oplevelse <br>med forskellig kultur. Har fået en <br> masse venskaber og lært en masse om mig selv. <br> Jeg kan varmt anbefale HøjskolenDK til <br> andre der overvejer at opleve verden <br> og lære en masse nye mennesker at kende</p>
    <div class="pb-4 text-base md:text-base italic" style="font-family: 'Albert,Sans' sans-serif;">
        <p>Line Fisker</p>
    </div>
</div>

  <!-- anmeldelse 6 -->
  <div class="flex flex-col justify-between px-5 py-5 rounded-3xl w-96 h-96" style="background-color: #E5EBF0;">
    <h4 class="pt-4 text-base md:text-base" style="font-weight: 900; font-family: 'Onest-Black' sans-serif;" >BEDSTE OPLEVELSE</h4>
    <p class="relative -top-6 text-base md:text-base" style="font-family: 'Albert,Sans' sans-serif;" >Sååå god en oplevelse, jeg aldrig vil glemme. <br> Kæmpe anbefaling og det hele værd. <br> Min tur gik til Hawaii, Australien, Japan, <br> Bali og Gili i 3 måneder. <br>❤️ ❤️</p>
    <div class="pb-4 text-base md:text-base italic" style="font-family: 'Albert,Sans' sans-serif;">
        <p>Line</p>
    </div>
</div>

  <!-- anmeldelse 7 -->
  <div class="flex flex-col justify-between px-5 py-5 rounded-3xl w-96 h-96" style="background-color: #E5EBF0;">
    <h4 class="pt-4 text-base md:text-base" style="font-weight: 900; font-family: 'Onest-Black' sans-serif;"  >BEDSTE TUR</h4>
    <p class="text-base md:text-base" style="font-family: 'Albert,Sans' sans-serif;" >Jeg var med HøjskolenDK jorden rundt på <br> deres tur HAJBG. <br> Det var simpelthen den bedste rejse, <br> fyldt med spændende oplevelse, <br> gode rejseledere og en fantastisk gruppe <br> af mennesker. <br> Det er helt klart en anbefaling til alle.</p>
    <div class="pb-4 text-base md:text-base italic" style="font-family: 'Albert,Sans' sans-serif;" >
        <p>Anna Erlandsen</p>
    </div>
</div>

  <!-- anmeldelse 8 -->
  <div class="flex flex-col justify-between px-5 py-5 rounded-3xl w-96 h-96" style="background-color: #E5EBF0;">
    <h4 class="pt-4 text-base md:text-base" style="font-weight: 900; font-family: 'Onest-Black' sans-serif;" >VERDENS BEDSTE HØJSKOLE</h4>
    <p class="relative -top-4 text-base md:text-base" style="font-family: 'Albert,Sans' sans-serif;">Höjskolendk giver en tryg og sikker rejseform. <br> Man har altid sine rejseledere at læne sig op ad, <br> hvilket er skønt når man ikke har særlig meget <br> erfaring med verden uden for Danmark. <br> På samme tid skaber man venskaber for livet, <br> som virkelig er en gave i sig selv! </p>
    <div class="pb-4 text-base md:text-base italic" style="font-family: 'Albert,Sans' sans-serif;" >
        <p>Signe Nygaard Christensen</p>
    </div>
    </div>
</div>
  
    <!-- Knapper til scrolling (højre) -->
    <button id="scroll-right" class="text-4xl z-10 absolute -right-12 top-64 md:absolute md:top-72 md:-right-16 transform -translate-y-1/2" style="color:#7794B0">
      →
    </button>
  </div>
    </div>
    
    </div>
  </div>
    <div class="flex flex-col items-center sm:items-start w-full sm:w-2/5 px-10 gap-0 text-center sm:text-left mt-16">
      <div class="relative -top-16 left-0 md:relative md:left-full md:pl-10 md:-top-28 ">
        <Button 
        textMobile="SE FLERE ANMELDELSER HER"
        textDesktop="SE FLERE ANMELDELSER HER"
        link="https://dk.trustpilot.com/review/www.hojskolendk.dk" 
        backgroundColor="#FF6E00"
        textColor="#FFF"
        size="small"
        target="_blank"
        />
      </div>
  </div>

  
</section>


<script>
    const scrollContainer = document.querySelector('.overflow-x-auto');
    const scrollLeft = document.getElementById('scroll-left');
    const scrollRight = document.getElementById('scroll-right');
    
    scrollLeft.addEventListener('click', () => {
      scrollContainer.scrollBy({
        left: scrollContainer.clientWidth / 4, 
        behavior: 'smooth',
      });
    });
    
    scrollRight.addEventListener('click', () => {
      scrollContainer.scrollBy({
        left: scrollContainer.clientWidth / 4, 
        behavior: 'smooth', 
      });
    });
    
    </script>
