---
import { Image } from 'astro:assets';
import brochure from "../assets/images/brochure.png";
import Button from './Button.astro';
---

<!-- STYLING NOTE:  -->
 <section class=" flex flex-col md:flex-row md:pr-10">
    <div>
     <!-- sektion med tekst og img -->
        <section class="pt-20 pl-5 pb-20 mx-4 ml-6 md:px-20 md:pl-14 md:gap-10" style="">
        <!-- tekst -->
        <div class="px-8 pl-10 pb-16 md:ml-4 md:relative md:top-12">
            <h3 class="pt-10 pb-5 text-sm md:text-lg" style="font-family: 'Onest-Black' sans-serif;">FÅ ET DYBERE INDBLIK</h3>
            <h2 class="pb-6 pt-4 text-3xl md:text-4xl" style="font-weight: 900; font-family: 'Onest-Black' sans-serif;">LÆS VORES BROCHURE HER</h2>
            <p class="pr-8 text-base md:text-base font-light" style="font-family: 'Albert Sans' sans-serif;">Vil du vide mere om vores højskolerejser og alt det, vi tilbyder? <br> <br>
                Hent vores brochure og få et dybere indblik i de unikke rejseoplevelser, stærke fællesskaber og eventyrlige øjeblikke, der vil inspirere og præge dig for livet. 
                <br> <br> Lad dig inspirere af de mange muligheder og find din næste store oplevelse!</p>
            </div>
    

      <!-- sektion med knapper -->
         <section class="flex flex-col gap-10 pl-8 md:pl-14 mt-10">
        <!-- knap 1 -->
            <div class=" w-64 md:w-72">
                <Button 
                    textMobile="LÆS VORES BROCHURE HER "
                    textDesktop="LÆS VORES BROCHURE HER "
                    link="https://www.hojskolendk.dk/brochure/"
                    backgroundColor="#FF6E00"
                    textColor="#FFF"
                    size="small md:large"
                />
            </div>


         <div class="flex flex-col md:flex-row gap-10 ">
        <!-- knap 2 -->
            <div class=" w-80">
                <Button 
                    textMobile="DOWNLOAD VORES BROCHURE HER"
                    textDesktop="DOWNLOAD VORES BROCHURE HER"
                    link="https://www.hojskolendk.dk/brochure/"
                    backgroundColor="#FF6E00"
                    textColor="#FFF"
                    size="small md:large"
                />
            </div>


         <!-- knap 3 -->
       
            <div class="w-96">
                <Button 
                    textMobile="BESTIL VORES FYSISKE BROCHURE HJEM"
                    textDesktop="BESTIL VORES FYSISKE BROCHURE HJEM"
                    link="https://www.hojskolendk.dk/brochure/"
                    backgroundColor="#FF6E00"
                    textColor="#FFF"
                    size="small md:large"
                />
            </div>
        </div>
        </section>
    </div>
    

    <div>
    <!-- img -->
          <div class="flex w-80 mx-auto md:w-full md:mt-28 justify-center">
            <Image src={brochure} alt='gruppe af unge mennesker sammen' class=" hover:scale-105">
        </div>
        <!-- for at gøre billede mindre så skriv md:pr-20 i class'en for image -->
    </div>
 </section>


































