---
import Button from "./Button.astro";
---

<!-- Sektion med CTA1 -->
<div class="flex flex-wrap justify-center py-20 px-0" style="background-color: #FF6E00;">

    <!-- Kolonne 1 - tekst -->
    <div class="flex flex-col items-start w-full sm:w-1/2 px-20 gap-0 text-left sm:text-left">
     <h1 class="text-xl uppercase font-extrabold text-white md:text-2xl">
        Sikr dig en plads til dit drømmeeventyr!</h1>
        <br> <br>
        <h1 class="text-base uppercase text-white md:text-2xl">
        Det er gratis, uforpligtende og giver dig fordelen ved at få besked, før pladserne forsvinder.
        </h1>
    </div>

    <!-- Kolonne 2 - CTA1-knap -->
    <div class="flex flex-col items-center sm:items-start w-full sm:w-2/5 px-10 gap-0 text-center sm:text-left mt-16">
        <div class="right-20 top-12 z-20 sm:right-4 md:right-8">
            <Button 
                textMobile="Reservér din plads"
                textDesktop="Reservér din plads til din drømmedestination"
                link="/card"
                backgroundColor="white"
                textColor="#FF6E00"
                size="large"
            />
        </div>
    </div>
</div>