---
import { Image } from 'astro:assets';
import instagram from "../assets/images/ig-ikon.png";
import facebook from "../assets/images/fb-ikon.png";
import youtube from "../assets/images/yt-ikon.png";
import tiktok from "../assets/images/tiktok-ikon.png";
import mail from "../assets/images/mail-ikon.png";
import linkdin from "../assets/images/linkedin-ikon.png";
import skype from "../assets/images/skype-ikon.png";
import samarbejd from "../assets/images/samarbejdspartnere.png";
---

<div>
    <p class="max-w-screen-xl mx-auto text-white">Footer - tilføj footerindhold</p>
</div>

<div>
    <Image src={samarbejd} alt="blog 1" class="mb-5"/>
</div>