---
import logo from "../assets/images/logo.svg";
import sticky from "../assets/images/sticky-cta.png";
---
<div class="max-w-screen-xl mx-auto">
     <!-- Logo -->
         <div class="absolute top-4 left-4 z-20">
            <img 
             src={logo.src} 
             alt="Logo" 
             class="h-16 w-auto md:h-24">  
        </div>

        <!-- Sticky CTA-knap -->
         <div class="bottom-8 right-10 z-20 fixed">
            <img 
                src={sticky.src} 
                alt="sticky CTA" 
                class="h-16 w-auto md:h-24">  
        </div>
</div>
    