---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
import herobillede from "../assets/images/hero.png";
---

<section class="relative grid grid-cols-1 grid-rows-5 w-screen h-screen">
    <!-- Hero Image -->
    <Image 
        src={herobillede} 
        alt="Hero billede" 
        class="absolute inset-0 w-full h-[60vh] object-cover z-0"
    />

    <!-- Hero billede med tekst -->
    <div class="relative bg-cover bg-center">
        <!-- Tekst på herobillede -->
        <section class="absolute mt-12 ml-12 top-28 left-0 z-20 p-4 flex flex-col items-start gap-4 md:p-8 md:ml-20 md:mt-8">
            <h1 class="text-5xl uppercase font-bold text-white text-left md:text-8xl" style="font-family: 'Onest-Black', sans-serif;">
                Højskole i udlandet
            </h1>
            <h2 class="text-xl mt-9 uppercase text-white text-left md:text-4xl" style="font-family: 'Onest-Regular', sans-serif;">
                Eventyrlige højskoleophold i udlandet for unge
            </h2>
        </section>
    </div>
</section>

<!-- Hero tekst-sektion -->
<article class="max-w-screen-xl mx-auto relative bg-beige">
    <section class="flex flex-col items-center justify-center text-center p-4 absolute top-1/2 w-full z-2 md:mt-20">
        <h1 class="text-4xl uppercase text-black text-center md:text-5xl md:mb-16" style="font-family: 'Onest-Black', sans-serif;">
            OPLEVELSER FOR LIVET
        </h1>
        <p class="text-base text-black text-center md:text-base" style="font-family: 'Albert Sans', sans-serif;">
            Drømmer du om eventyr, fællesskab og oplevelser, der forandrer dit liv? <br><br>
            Tag med os på højskole i udlandet, hvor tropiske strande, vilde kulturer og personlig udvikling venter <br>
            – dit næste store kapitel starter her!
        </p>
    </section>    
</article>


