---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
// import '../styles/tailwind.css'; // Udkommenteret for at bruge CDN-linket
import 'animate.css';
const { title } = Astro.props;
---
<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
		<script src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js" defer></script>
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.x.x/dist/tailwind.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
		<!-- Skrifttyper-->
		<link href="https://fonts.googleapis.com/css2?family=Onest:wght@400;600&family=Albert+Sans:wght@400;700&family=Londrina+Solid:wght@400;700&display=swap" rel="stylesheet">

	</head>
	<body class="bg-beige min-h-screen">
		<!-- Progress bar -->
		<div class="progress-bar h-4 fixed left-0 top-0 w-2 z-50" style="background-color: #7794B0;"></div>


		<header class="">
			<Header></Header>
		</header>
		
		<main class="p-sm"> 
			<slot />
		</main>

		<footer class="">
			<Footer></Footer>
		</footer>
			
	</body>
</html>

<script>
	window.addEventListener('scroll', function () {
	  // TypeScript type assertion til at sikre, at progressBar er et HTMLDivElement
	  const progressBar = document.querySelector('.progress-bar') as HTMLDivElement;
  
	  // Hvis progressBar findes
	  if (progressBar) {
		const scrollHeight = document.documentElement.scrollHeight - window.innerHeight; // Total scrollbar height
		const scrollPosition = window.scrollY; // Hvor langt der er scrollet
		const scrollPercent = (scrollPosition / scrollHeight) * 100; // Beregn procenten af scrollen
	  
		// Opdater progress barens højde
		progressBar.style.height = `${scrollPercent}%`; // Skaler fra 0% til 100% afhængigt af scrollen
	  }
	});
  </script>
  